@use 'shows';
@use 'Variaveis';
@use 'hero';
@use 'plans';
@use 'avaliable-devices';
@use 'faq';
@use 'footer';
@use 'header';





@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}


@font-face{
    font-family: AvenirBold;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;

}


body{
    background-color: Variaveis.$corFundo;
}




@mixin text($fontsize: 16px){
    font-size: $fontsize;
    line-height: $fontsize + 10px;
}

@mixin title($fontsize: 28px){
    @include text($fontsize);
    color: Variaveis.$corTextoSecondary;
}


.text--big{
    @include text(22px);
    color: Variaveis.$corTextoMain;

    @media(max-width: 768px){
        @include text(15px);

    }
}


.text{
    @include text;
    color: Variaveis.$corTextoSecondary;
    @media(max-width: 768px){
        @include text(14px);
    

    }
}

.text--small{
    @include text(12px);
    color: Variaveis.$corTextoSecondary;
    text-align: center;
    @media(max-width: 768px){
        @include text(11px);
    

    }
    
}

.link--text{
    @include text(18px);
    color: Variaveis.$corTextoSecondary;
    text-decoration: underline;
}

.title--big{
    @include title(44px);

    @media(max-width: 768px){
        @include title(26px);

    }
}

.title{
    @include title;
        color: Variaveis.$corTextoSecondary;

        @media(max-width: 768px){
            @include title(24px);

        }
}


.title--small{
    @include title(28px);
    @media(max-width: 768px){
        @include title(22px);

    }
} 

.button{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: Variaveis.$corTextoSecondary;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #6421ff;
    margin-top: 2vw;
    margin-bottom: 8px;
    &:hover{
        background-color: lighten(Variaveis.$corFundoBotaoPrim, 3%);
    }

    &:hover{
        cursor: pointer;
    }

}

.image-text-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5.6vw;
    align-items: center;

    @media(max-width: 768px){
        display: block;
    }

    img{
        max-width: 100%;
    }
    
    &__text_container{
        padding: 0 2vw;
        h2{
            margin-bottom: 24px;;
        }
    }


    &--image-full-width{
        position: relative;
        display: block;
        img{
            width: 100%;
        }
        &__text_container {
            left: 50%;
            position: absolute;
            top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            width: calc(50% - 5.6vw);
            justify-content: center;

            @media(max-width: 768px){
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }

}
