@use 'shows';
@use 'Variaveis';
@use 'hero';
@use 'plans';


@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}



@font-face{
    font-family: AvenirBold;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;

}


body{
    background-color: Variaveis.$corFundo;
}




@mixin text($fontsize: 16px){
    font-size: $fontsize;
    line-height: $fontsize + 10px;
}

@mixin title($fontsize: 28px){
    @include text($fontsize);
    color: Variaveis.$corTextoSecondary;
}


.text--big{
    @include text(18px);
    color: Variaveis.$corTextoMain;
}


.text{
    @include text;
    color: Variaveis.$corTextoSecondary;
}

.text--small{
    @include text(12px);
    color: Variaveis.$corTextoSecondary;
    text-align: center
    
    
}

.link--text{
    @include text(18px);
    color: Variaveis.$corTextoSecondary;
    text-decoration: underline;
}

.title--big{
    @include title(44px);
}

title{
    @include title;
}


.title--small{
    @include title(28px)
} 

button{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: Variaveis.$corTextoSecondary;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;

    &:hover{
        cursor: pointer;
    }

}